table {
    width: 100%;
}

tr th {
    background-color: #cecece;
    border-radius: 6px;
    font-size: 14px;
    padding: 5px;
}


.table-actions {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5px;
}

.table-actions img {
    padding: 5px;
    width: 16px;
    height: 16px;
    cursor: pointer;
}

h3 {
    margin: 15px 0 10px 0;
    padding: 0;
    font-size: 18px;
    font-weight: bold;
}

